<h1>Game Safe   V 2.0</h1>

<button class="btn btn-info m-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Правила гри:
</button>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <p>Загадан код з чотирьох цифр (цифри не повторяються 0 1 2 3 4 5 6 7 8 9). Відгадайте загаданий код. Вводячи МІЙ ВАРИАНТ вы будете отримувати відповідь: кількість вгаданих цифр та скільки з них стоять на своїх місях.</p>

    <p>!!! В одній відповіді не повторюйте цифри, в загаданом коді не бувае двох 11 або декількох 333, тільки по одній цифрі, код з чотирьох</p>
  </div>
</div>

<div class='my=1'>X X X X</div>

<div class='my=1'><%#= session[:combination] %></div>

<% if session[:combination] %>
<div>
  <%= turbo_frame_tag id='results' do %>
    <%= render @games %>
  <% end %>
</div>

<div class='my-3'>
  <%= turbo_frame_tag Game.new do %>

    <div class='my-3'>
      <%= link_to "Мій вариант", new_game_path, class: "btn btn-primary", data: { turbo_frame: dom_id(Game.new) }  %>
    </div>
  <% end %>
</div>
<% end %>


