/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

 .field_with_errors {
  .form-control {
    border-color: red;
  }
  label {
    color: red;
  }
}

.nav-link:hover {
  color: grey !important;
}

.flag {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url('/assets/flags_ua.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.uk-flag {
  background-position: -1px -0px;

}
.en-flag {
  background-position: -1px -17px;
}

.nav {
  .flag {
    position: relative;
    top: 2px;
  }
}